{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
    <div class="row">
        {% for post in all_post%}

        <div class="col-md-3" id="cont">
            <div class="card h-100">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="{{post.photo.url}}" class="img-fluid"/>
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{post.title}}</h5>
                  <p class="card-text">{{post.description}}</p>
                </div>
                <div class="card-footer">

                    <small class="text-muted"><a href="{{post.link}}" class="tn btn-outline-dark">View</a> </small>
                  </div>
              </div>  

        </div>
        {% endfor%}

    </div>
</div>

{% endblock%}

