<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
        <a class="navbar-brand me-2 h1 fw-bold mb-0" href="{% url 'welcome'%}">Awwards</a>


        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" id="searchcont">
                    <!-- <a class="nav-link" href="#">Dashboard</a> -->
                    <form class="d-flex input-group w-auto" action="{% url 'search'%}" method="get">
                        {% csrf_token %}
                        <input type="search" class="form-control rounded" name="title" placeholder="Search"
                            aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-5" href="#">Hello {{request.user}}</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Profile

                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/profile/">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'update'  %}">Update Profile</a></li>
                        </ul>
                    </div>
                </li>
                <!-- Default dropright button -->

                <li class="nav-item">

                    <div class="dropdown">
                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            EndPoints

                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="/api/post/">Post</a></li>
                        </ul>
                    </div>
                </li>

            </ul>

            <div>
                <a href="{% url 'newproject' %}">
                    <button type="button" class="btn btn-dark btn-rounded">Upload Project</button>

                </a>


            </div>

            <a class="nav-link" href="/signout/">
                <button type="button" class="btn btn-light btn-rounded">Logout</button>

            </a>



            {%else%}
            <!-- Left links -->


            <div class="d-flex align-items-center">

                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-light mr-5 ml-5" data-mdb-ripple-color="dark">Login</button>

                </a>

                <a href="{% url 'register'%}"><button type="button" class="btn btn-dark me-3">
                        Sign up for free
                    </button></a>
                <!-- <a class="btn btn-dark px-3" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button"><i
                        class="fab fa-github"></i></a> -->
            </div>
            {% endif%}
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->