{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}
<div class="container" id="indexcontainer">
    <i class="fas fa-heart" style="float:left"></i>

    <div class="featured">
   </div>
    <section id="content">
      <div class="row">
        <div class="col-md-8">
          <img src="{{post.photo.url}}" class="img-fluid" />
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0" id="header">Title:</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0" id="title1">{{post.title}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0" id="header">Description:</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{post.description}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0" id="header">Posted By:</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{post.user.username|title}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0" id="header">Date Posted:</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{post.date|date}}</p>
              </div>
            </div>
            <hr>
            <h5 class="text-center mb-3">Project Ratings</h5>
            {% for rating in post.ratings.all %}
                {% if forloop.counter is post.ratings.all.count %}
            <div class="row">

              <div class="col-sm-4">
                <p class="mb-0" id="header">Design:</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{ rating.design_average}}</p>
              </div>
            </div>
            <hr>

            <div class="row">

                <div class="col-sm-4">
                  <p class="mb-0" id="header">Usability:</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{ rating.usability_average }}</p>
                </div>
              </div>
              <hr>

              <div class="row">

                <div class="col-sm-4">
                  <p class="mb-0" id="header">Content:</p>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted mb-0">{{ rating.content_average }}</p>
                </div>
              </div>
            {% endif %}
            {% endfor %}
            <div class="row mt-4">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-8">
                <a href="{{post.link}}" class="btn btn-outline-danger " style="text-align:center"id="btn1">Visit Project</a>
  
              </div>
            </div>
          </div>
  
      </div>
      </div>
  
    </section>
    
  </div>
  <div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Rate this Project</h3>
           
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-sm btn-info">Rate</button>
            </form>
            {% endif %}
       </div>
        <div class="col-md-6">
            <h3 class="D-block mx-auto">Ratings Scores</h3>
            {% for rating in post.ratings.all %}
            {% if forloop.counter is post.ratings.all.count %}
            <a class="btn btn-info btn-sm" ><h5>{{ rating.score }}</h5>
                <span class="sc">Average Score</span>
            </a>
            <a class="btn btn-outline-success btn-sm" ><h5>{{ rating.design_average }}</h5>
                <span class="sc">Design Average</span>
            </a>
            <a class="btn btn-outline-primary btn-sm" id="u"><h5>{{ rating.usability_average }}</h5>
                <span class="sc">Usability Average</span>
            </a>
            <a class="btn btn-outline-danger btn-sm" id="c"><h5>{{ rating.content_average }}</h5>
                <span class="sc">Content Average</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}

{% if rating_status %}
<h5>You have already voted</h5>
{% else %}
{% if user.is_authenticated %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-sm btn-info">Rate</button>
</form>
{% endif %}
{% endif %}

